@borderWidth: 2px;

.square {
    width: 80px - (2 * @borderWidth);
    height: 80px - (2 * @borderWidth);
    position: relative;
    background-color: ghostwhite;
    border: solid @borderWidth darken(ghostwhite, 1%);

    &.hover {
        border: solid @borderWidth darken(#d1d1ff, 3%);
        background-color:  #d1d1ff;
        cursor: pointer;
    }
    &.highlight {
        border: solid @borderWidth lighten(#4a4a4a, 3%);
        background-color: #4a4a4a;
   } 
   
    img {
        width: calc(100% + (2 * @borderWidth));
        height: auto;
        position: absolute;
        top: -1 * @borderWidth;
        left: -1 * @borderWidth;

        &.character-tile {
            z-index: 2;
        }
        &.background-tile {
            z-index: 1;
        }
        &.overlay {
            background-color: darkblue;
            border: solid 1px darkblue;
        }
    }
}
