.square {
    width: 80px;
    height: 80px;
    position: relative; 

    &.hover {
        border: solid 1px gold;
        background-color:  darkblue;
    }
    &.highlight {
        border: solid 1px white;
        background-color: black;
   } 
   
    img {
        width: 100%;
        height: auto;
        position: absolute;
        &.character-tile {
            z-index: 2;
        }
        &.background-tile {
            z-index: 1;
        }
    }
}
